server:
  port: 8000
  ssl:
    enabled: false
spring:
  bangle:
    host: "http://localhost:8000"
  profiles:
    active: secret
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE


kubo:
  rpc:
    host: 127.0.0.1:5001

redis:
  host: localhost
  port: 6379